# Import Required Libraries:

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
def read_data_from_csv():
    hotels=pd.read_csv('C:/Users/thiru/Downloads/zomato (1).csv')
    return hotels

# Task1:

In [3]:
def remove_unwanted_columns():
    #DO NOT REMOVE FOLLOWING LINE
    #call read_data_from_csv() function to get dataframe
    hotels=read_data_from_csv()

    unwanted_columns = ['address','phone',]
    hotels = hotels.drop(unwanted_columns,axis = 1)
    
    return hotels

# Task2

In [4]:
def rename_columns():
    hotels = remove_unwanted_columns()
    column_names = {
        'name':'name', 
        'online_order':'online_order',
        'book_table':'book_table',
        'rate':'rating',
        'votes':'votes',
        'location':'location',
        'rest_type':'rest_type',
        'dish_liked':'dish_liked',
        'cuisines':'cuisines',
        'approx_cost(for two people)':'approx_cost',
        'listed_in(type)':'type'}

    hotels = hotels.rename(columns=column_names)
    return hotels

In [5]:
rename_columns().isna().sum()

name               16
online_order       19
book_table         58
rating           7838
votes              78
location          126
rest_type         338
dish_liked      28225
cuisines          203
approx_cost       521
type             4610
dtype: int64

# Task 3

In [6]:
#task3: handle  null values of each column
def null_value_check():
    hotels = rename_columns()

    # drop null values in the 'Name' column
    hotels = hotels.dropna(subset=['name'])

    # replace null values of Online_order with 'NA'
    hotels['online_order'] = hotels['online_order'].fillna('NA')

    # replace null values of Book_table with 'NA'
    hotels['book_table'] = hotels['book_table'].fillna('NA')

    # replace null values of Rating with 0
    hotels['rating'] = hotels['rating'].fillna(0)

    # replace null values of Votes with 0
    hotels['votes'] = hotels['votes'].fillna(0)

    # replace null values of Location with 'NA'
    hotels['location'] = hotels['location'].fillna('NA')

    # replace null values of Rest_type with 'NA'
    hotels['rest_type'] = hotels['rest_type'].fillna('NA')

    # replace null values of Dish_liked with 'NA'
    hotels['dish_liked'] = hotels['dish_liked'].fillna('NA')

    # replace null values of Cuisines with 'NA'
    hotels['cuisines'] = hotels['cuisines'].fillna('NA')

    # replace null values of Approx_cost with 0
    hotels['approx_cost'] = hotels['approx_cost'].fillna(0)

    # replace null values of Type with 'NA'
    hotels['type'] = hotels['type'].fillna('NA')

    return hotels

# Task4

In [7]:
x = null_value_check().duplicated().sum()
print("the number of duplicated values is{}".format(x))

the number of duplicated values is17823

In [8]:
def find_duplicates():
    hotels=null_value_check()
    hotels = hotels.drop_duplicates(keep = 'first')
    return hotels

In [9]:
y = find_duplicates().duplicated().sum()
print("the number of duplicated values is {}".format(y))

the number of duplicated values is 0

# Task5

In [10]:
def removing_irrelevant_text():
    #DO NOT REMOVE FOLLOWING LINE
    #call find_duplicates() function to get dataframe
    hotels = find_duplicates()

    hotels = hotels[hotels['name'].str.contains("RATED|Rated") == False]
    hotels = hotels[hotels['online_order'].str.contains("RATED|Rated") == False]
    hotels = hotels[hotels['book_table'].str.contains("RATED|Rated") == False]
    hotels = hotels[hotels['rating'].str.contains("RATED|Rated") == False]
    hotels = hotels[hotels['votes'].str.contains("RATED|Rated") == False]
    hotels = hotels[hotels['location'].str.contains("RATED|Rated") == False]
    hotels = hotels[hotels['rest_type'].str.contains("RATED|Rated") == False]
    hotels = hotels[hotels['dish_liked'].str.contains("RATED|Rated") == False]
    hotels = hotels[hotels['cuisines'].str.contains("RATED|Rated") == False]
    hotels = hotels[hotels['approx_cost'].str.contains("RATED|Rated") == False]
    hotels = hotels[hotels['type'].str.contains("RATED|Rated") == False]

    return hotels

# Task6

In [11]:
def check_for_unique_values():
    # DO NOT REMOVE FOLLOWING LINE
    # call removing_irrelevant_text() function to get dataframe
    hotels = removing_irrelevant_text()
    
    index = hotels[~hotels['online_order'].isin(['No', 'Yes'])].index
    hotels.drop(index, inplace = True)
    hotels['rating'] = hotels['rating'].replace({'/5': ''}, regex = True).replace('-', 0).replace('NEW', 0)
    
    return hotels

# Task7

In [12]:
def remove_the_unknown_character():
    # call check_for_unique_values() function to get dataframe
    dataframe = check_for_unique_values()

    # remove unknown character from 'name' column
    dataframe['name'] = dataframe['name'].str.replace('[Ãƒx][^A-Za-z]+', '')

    # export cleaned dataset to new csv file named "zomatocleaned.csv"
    dataframe.to_csv('zomatocleaned.csv', index=False)

    return dataframe